#copyButton, #helpMessage {
    -fx-text-fill: white;
}

#copyButton {
    -fx-background-color: dimgray;
}

#copyButton:hover {
    -fx-background-color: gray;
}

#copyButton:armed {
    -fx-background-color: darkgray;
}

#helpMessageContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
}

#add, #list, #markLab{
   -fx-background-color: #515658;

}

#help, #delete, #find, #markEx {
-fx-background-color: #3c3e3f;
}

.scroll-pane {
    -fx-background-color: derive(#1d1d1d, 15%);

}

.label {

           -fx-font-family: "Segoe UI Semibold";
           -fx-text-fill: white;
           -fx-opacity: 1;
}
